<header class="h-[150px] w-full flex flex-col items-center">
    <div class="h-[40px] bg-[var(--main-yellow)] w-full">
    </div>

    <div class="w-[89.5%] h-[110px] flex flex-row justify-between items-center gap-[180px] border-b-2 border-[var(--main-white)]">
        <div class="flex-1">
            <a href="/"><span class="uppercase text-4xl font-bold text-[var(--main-white)] cursor-pointer">book buyer dude</span></a>
        </div>

        <div class="flex flex-row gap-[30px]">
            <span class="capitalize text-4xl font-normal text-[var(--main-white)] underline-button"><a href="/admin/products">товары</a></span>
            <span class="capitalize text-4xl font-normal text-[var(--main-white)] underline-button"><a href="/admin/reviews">отзывы</a></span>
            <span class="capitalize text-4xl font-normal text-[var(--main-white)] underline-button"><a href="/admin/users">пользователи</a></span>
            <span class="capitalize text-4xl font-normal text-[var(--main-white)] underline-button"><a href="/admin/orders">заказы</a></span>
        </div>
    </div>
</header>