<section id="categories-bar" class="w-full h-[55px] mt-[30px]">
    <div class="w-[50%] h-full mx-auto flex flex-row gap-[12px] justify-between">
        <div id="add-button" class="select-none cursor-pointer hover:bg-gray-500 transition flex-1 border border-[var(--main-grey)] flex flex-row justify-center items-center">
            <span class="text-[var(--main-white)] text-xl font-normal">Добавить</span>
        </div>

        <div id="edit-button" class="select-none cursor-pointer hover:bg-gray-500 transition flex-1 border border-[var(--main-grey)] flex flex-row justify-center items-center">
            <span class="text-[var(--main-white)] text-xl font-normal">Изменить</span>
        </div>

        <div id="delete-button" class="select-none cursor-pointer hover:bg-gray-500 transition flex-1 border border-[var(--main-grey)] flex flex-row justify-center items-center">
            <span class="text-[var(--main-white)] text-xl font-normal">Удалить</span>
        </div>
    </div>
</section>