<footer class="bg-[var(--main-black)]">
    <div class="w-[89.5%] mx-auto h-[360px] pt-[50px]">
        <div>
            <span class="text-[var(--main-white)] uppercase text-[32px] text-start font-bold">book buyer dude</span>
        </div>

        <div class="flex flex-row justify-between mt-[50px] text-[var(--main-white)] font-normal tracking-normal">
            <div class="flex flex-col text-2xl gap-[7px]">
                <span>Москва</span>
                <span>пр. Вернадского, 78</span>
                <span>Россия</span>
                <span>8 (905) 715-66-43</span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span class="underline-button"><a href="/about">Оплата</a></span>
                <span class="underline-button"><a href="/about">Доставка</a></span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span class="underline-button"><a href="/about">О нас</a></span>
                <span class="underline-button"><a href="/about">Оферта</a></span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span class="underline-button"><a href="/profile">Личный кабинет</a></span>
                <span class="underline-button"><a href="/profile">История покупок</a></span>
            </div>
        </div>
    </div>

    <hr class="w-full border-[1px] border-[var(--main-white)]" />

    <div class="flex justify-center items-center h-[70px]">
        <span class="text-[var(--main-white)] font-normal text-2xl">© Лучший книжный 2024</span>
    </div>
</footer>