<footer class="bg-[var(--main-white)]">
    <div class="w-[89.5%] mx-auto h-[360px] pt-[50px]">
        <div>
            <span class="text-[var(--main-black)] uppercase text-[32px] text-start font-bold">book buyer dude</span>
        </div>

        <div class="flex flex-row justify-between mt-[50px] text-[var(--main-black)] font-normal tracking-normal">
            <div class="flex flex-col text-2xl gap-[7px]">
                <span>Москва</span>
                <span>пр. Вернадского, 78</span>
                <span>Россия</span>
                <span>8 (905) 715-66-43</span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span>Оплата</span>
                <span>Доставка</span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span>О нас</span>
                <span>Оферта</span>
            </div>

            <div class="flex flex-col text-2xl gap-[7px]">
                <span>Личный кабинет</span>
                <span>История покупок</span>
            </div>
        </div>
    </div>

    <hr class="w-full border-[1px] border-[var(--main-black)]" />

    <div class="flex justify-center items-center h-[70px]">
        <span class="text-[var(--main-black)] font-normal text-2xl">© Лучший книжный 2024</span>
    </div>
</footer>