<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Страница Не Найдена</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('../common/_header.ejs') %>

    <main>
        <section id="general" class="h-[700px]">
            <div class="mx-auto size-full flex flex-col justify-center items-center">
                <span class="text-[var(--main-white)] text-[155px] uppercase font-bold">404</span>
                <span class="text-[var(--main-white)] text-[75px] font-normal">Страница не найдена :(</span>

                <a href="/" class="mt-[20px]">
                    <div id="login-action-button" class="px-[30px] h-[55px] bg-[var(--main-dark-brown)] select-none flex flex-row justify-center items-center rounded-[30px] gap-[15px] brown-button">
                        <span class="capitalize text-[32px] font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center">перейти на главную</span>
                    </div>
                </a>
            </div>
        </section>
    </main>
    
    <%- include('../common/_footer_light.ejs') %>
</body>
</html>