<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Book Product</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('../common/_header.ejs') %>

    <main>
        <section id="book-info" class="pt-[65px]">
            <div class="w-[59%] mx-auto">
                <span class="uppercase text-[var(--main-white)] text-[32px] font-bold">книга</span>

                <div class="mt-[25px] w-full h-[630px] rounded-[35px] bg-[var(--main-white)] py-[50px] px-[90px] flex flex-row justify-between">
                    <div class="w-[240px] h-[380px]">
                        <img src="/public/img/books/dorian_gray.jpg" class="object-cover size-full" />
                    </div>

                    <div class="w-[63%] flex flex-col justify-between items-start">
                        <div class="flex flex-col gap-[15px]">
                            <span class="capitalize font-bold text-4xl tracking-wide text-[var(--main-black)]">Портрет Дориана Грея</span>
                            <span class="capitalize font-normal text-[32px] tracking-wide text-[var(--main-black)]">Оскар Уайлд</span>
                        </div>

                        <div class="flex flex-row flex-wrap gap-[10px]">
                            <div class="bg-[var(--main-yellow)] px-[15px] py-[5px] rounded-full">
                                <span class="capitalize text-[26px] text-[var(--main-white)] tracking-wide font-normal">Ужасы</span>
                            </div>

                            <div class="bg-[var(--main-yellow)] px-[15px] py-[5px] rounded-full">
                                <span class="capitalize text-[26px] text-[var(--main-white)] tracking-wide font-normal">Фантастика</span>
                            </div>

                            <div class="bg-[var(--main-yellow)] px-[15px] py-[5px] rounded-full">
                                <span class="capitalize text-[26px] text-[var(--main-white)] tracking-wide font-normal">Приключение</span>
                            </div>

                            <div class="bg-[var(--main-yellow)] px-[15px] py-[5px] rounded-full">
                                <span class="capitalize text-[26px] text-[var(--main-white)] tracking-wide font-normal">Странное</span>
                            </div>

                            <div class="bg-[var(--main-yellow)] px-[15px] py-[5px] rounded-full">
                                <span class="capitalize text-[26px] text-[var(--main-white)] tracking-wide font-normal">Непонятное</span>
                            </div>
                        </div>

                        <div>
                            <span class="text-[var(--main-black)] font-normal text-[26px] leading-7 tracking-wide">
                                Молодой и невероятно красивый Дориан Грей 
                                приезжает в Лондон и попадает под влияние искателя приключений лорда Уоттона. 
                                Он внушил юноше, что секрет успеха и счастья Дориана — в его красоте, 
                                ведь она поможет получить все удовольствия мира.
                            </span>
                        </div>

                        <div class="w-[240px] h-[65px] bg-[var(--main-dark-brown)] flex flex-row justify-center items-center rounded-[30px] gap-[15px]">
                            <span class="capitalize text-[32px] font-normal text-[var(--main-white)] tracking-wider leading-none align-middle text-center">купить</span>
                        </div>
                    </div>
                </div>

                <div class="mt-[50px] ml-[90px] mb-[100px]">
                    <span class="text-[var(--main-white)] font-bold text-[32px] tracking-wide">Пока нет комментариев</span>
                </div>
            </div>
        </section>
    </main>

    <%- include('../common/_footer_light.ejs') %>
</body>

</html>