<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Профиль</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">
    <link href="/public/css/profile.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
</head>

<body>
    <%- include('../common/_header.ejs') %>

    <main>
        <section id="general" class="pt-[65px] mb-[100px]">
            <div class="w-[74.5%] mx-auto">
                <div class="flex flex-row gap-[20px] items-center mb-[50px]">
                    <span id="profile-button" class="uppercase text-[var(--main-dark-grey)] text-[32px] font-bold cursor-pointer">профиль</span>
                    <!-- <span class="uppercase text-[var(--main-dark-grey)] text-[32px] font-bold cursor-pointer">личные данные</span> -->
                    <span id="orders-button" class="uppercase text-[var(--main-dark-grey)] text-[32px] font-bold cursor-pointer ">заказы</span>
                </div>

                <div id="profile-section">
                    <div>
                        <span class="capitalize text-[28px] font-bold text-[var(--main-white)]">Данные</span>
                    </div>

                    <div class="flex flex-col gap-[30px] mt-[15px]">
                        <div class="flex flex-col gap-[5px]">
                            <span class="capitalize font-bold text-2xl text-[var(--main-white)] tracking-wide">Соловьев Илья Александрович</span>
                            <span class="font-normal text-xl text-[var(--main-white)] tracking-wide">8 (905) 715-66-43 | 7156643@gmail.com</span>
                        </div>
    
                        <div class="flex flex-col gap-[5px]">
                            <span class="capitalize font-bold text-2xl text-[var(--main-white)] tracking-wide">Активные Заказы</span>
                            <span class="font-normal text-xl text-[var(--main-white)] tracking-wide">У вас пока нет активных заказов</span>
                        </div>

                        <div class="flex flex-col gap-[5px]">
                            <span class="capitalize font-bold text-2xl text-[var(--main-white)] tracking-wide">Бонусная Карта</span>
                            <span class="font-normal text-xl text-[var(--main-white)] tracking-wide">Вы пока не оформили бонусную карту</span>
                        </div>
                    </div>
                </div>

                <div id="orders-section" class="hidden">
                    <div class="flex flex-col gap-[30px] w-[51%]">
                        <div class="w-full bg-[var(--main-white)] rounded-[15px] h-[280px] flex flex-col justify-between p-[25px]">
                            <div class="flex flex-row justify-between">
                                <div class="flex flex-col gap-[12px]">
                                    <span class="font-bold text-[var(--main-black)] text-2xl tracking-wide">Заказ №1 от 11.01.2023</span>
                                    <div class="flex flex-col">
                                        <span class="font-normal text-[var(--main-black)] text-[16px]">Оплата картой на сайте | Самовывоз</span>
                                        <span class="font-normal text-[var(--main-black)] text-[16px]">ул. Кировоградская, д. 13А, ТРЦ "Колумбус", 3 Этаж</span>
                                    </div>
                                </div>

                                <div class="flex flex-col justify-between items-end h-[90px]">
                                    <div class="size-[25px] bg-green-600 rounded-full"></div>
                                    <span class="font-bold text-[var(--main-black)] text-2xl tracking-wide">2500 ₽</span>
                                </div>
                            </div>

                            <div>
                                <div class="swiper mainSwiper size-full">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide max-w-[70px] max-h-[110px]">
                                            <img src="./assets/img/books/1984.jpg" class="size-full object-cover" />
                                        </div>

                                        <div class="swiper-slide max-w-[70px] max-h-[110px]">
                                            <img src="./assets/img/books/dorian_gray.jpg" class="size-full object-cover" />
                                        </div>

                                        <div class="swiper-slide max-w-[70px] max-h-[110px]">
                                            <img src="./assets/img/books/sherlock_holmes.jpg" class="size-full object-cover" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../common/_footer_light.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/public/js/swiper.js"></script>
    <script src="/public/js/profile_switch.js"></script>
</body>
</html>