<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Админ - Отзывы</title>

    <link href="/public/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/public/css/output.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('../../common/_admin_header.ejs'); %>

    <h1 class="mt-[25px] ml-[100px] text-[var(--main-white)] text-3xl font-bold uppercase">Отзывы</h1>

    <main>
        <%- include('../../common/_admin_actions.ejs'); %>


    </main>

    <script src="/public/js/jq.js"></script>
    <script src="/public/js/admin/section_switch.js"></script>
</body>
</html>